.board{
    height: 500px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.board div {
    height: 20px;
    width: 20px;
    /* background-color: blue; */
    font-size: xx-small;
    text-align: center;
}

.bomb {
    background-color: red;
}